#snow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.snowflake {
  position: absolute;
  top: -30px;
  color: white;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-30px) rotate(0deg);
  }

  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}
